<ion-content fullscreen>
  <div class="login-container">
    <ion-card class="login-card">
      <ion-card-content>
        <!-- Campo de E-mail -->
        <ion-item lines="none" class="login-input">
          <ion-label position="floating">E-Mail</ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>

        <!-- Campo de Senha -->
        <ion-item lines="none" class="login-input">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>

        <!-- Botão de Login -->
        <ion-button expand="block" class="login-button">Login</ion-button>

        <!-- Link para criar nova conta -->
        <p class="criar-conta">
          <a href="#" routerLink="/criar-conta">Criar nova conta</a>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
